body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root {
    --gridSize: 16;
    --gridHeight: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), auto);
    grid-template-rows: repeat(var(--gridSize), auto);
    height: 600px;
    width: 600px;
    border: 3px solid black;
    margin: 0;
    padding: 0;
}

.new-block {
    box-sizing: border-box;
    border: 2px solid rgb(152, 81, 81);
    margin: 0;
    padding: 0;
}