body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
}

.new-block {
    box-sizing: border-box;
    border: 2px solid rgb(152, 81, 81);
    height: 6vh; /*100vh(1vh is 1% of screen) / 16 (16x16) = 6.25vh ; 6.25*2=12,5 */
    width: 6vh;
}